<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>UploadedMe</h1>
    <h2>{{ post.title }}</h2>
    <img width="1000" src="http://instawish.localhost/images/{{ post.image_name }}" alt="{{ post.title }}">
    <a href="/">Go back</a>
</body>
</html>